@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
}

.recipe-body {
  background-color: hsl(0, 0%, 100%);
  margin: 15vh 25vw 15vh 25vw;
  padding: 2.1em 2.1em;
  border-radius: 25px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(30, 10%, 34%);
  font-size: 16px;
}

.recipe-body img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.recipe-body h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(24, 5%, 18%);
  font-size: 2.5em;
}

.second-box h2 {
  color: hsl(332, 51%, 32%);
}

.recipe-body h3 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(14, 45%, 36%);
  padding-bottom: 0.5em;
  font-size: 1.8em;
}

.first-box h1 {
  margin: 20px 0 20px 0;
}
.first-box p {
  margin: 0 0 20px 0;
  line-height: 1.5em;
}
.second-box {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  padding: 20px 30px;
  margin-top: 2em;
}

.third-box {
  padding: 2em 0 1em 0;
  line-height: 2em;
}

.fourth-box {
  padding: 2em 0 1em 0;
  line-height: 1.5em;
}

.fifth-box {
  padding: 2em 0 0 0;
}

span {
  font-weight: bold;
}

li {
  margin: 10px 20px;
  padding-left: 1rem;
}

ul li p {
  color: hsl(30, 10%, 34%);
  font-weight: 400;
}

ol li p {
  color: hsl(30, 10%, 34%);
  font-weight: 400;
}

li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.hr {
  border: 1px solid hsl(30, 18%, 87%, 0.5);
}

table {
  border-collapse: collapse;
  display: inline-table;
  width: 100%;
  line-height: 2rem;
}

table caption {
  text-align: left;
  font-weight: 400;
}

table .hr {
  border-top: none;
  border-left: none;
  border-right: none;
}

table .hr td,
table td {
  margin-left: 2rem;
}
table td {
  text-align: start;
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}

table th {
  text-align: start;
  font-weight: 400;
}

table .hr td,
table .hr th {
  padding: 10px 0 10px 0;
}

table .last-table td,
table .last-table th {
  padding: 10px 0 0 0;
}

table .hr th,
table .last-table th {
  padding-left: 2em;
  width: 50%;
}

.attribution {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.attribution a {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
  text-decoration: none;
}

/* Responsive */

@media all and (max-width: 980px) {
  .recipe-body {
    margin: 0;
    border-radius: 0 0 10px 10px;
    padding: 0;
  }

  .recipe-body h1 {
    font-size: 2em;
  }

  .recipe-body img {
    border-radius: 0;
  }

  .recipe-text {
    padding: 1em 2em 2em 2em;
  }
  .attribution {
    background-color: hsl(30, 54%, 90%);
    font-size: 14px;
  }
  li {
    margin: 10px 12px;
    padding-left: 1rem;
  }
}
